@font-face {
  font-family: Futura;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/futura-medium-webfont.eot");
  src: url("../fonts/futura-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-medium-webfont.woff") format("woff"), url("../fonts/futura-medium-webfont.ttf") format("truetype"), url("../fonts/futura-medium-webfont.svg#Futura") format("svg"); }
@font-face {
  font-family: Gotham Light;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham Light") format("svg"); }
html {
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
  height: 100%; }

body {
  font-family: 'Futura';
  background-color: #001635; }

header {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 200; }
  header h1 {
    position: absolute;
    width: 100%;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 1.2em;
    padding-top: 20px;
    z-index: 100; }
  header h1 span.left {
    float: left;
    padding-top: 50px;
    padding-left: 80px; }
  header h1 span.right {
    float: right;
    padding-top: 50px;
    padding-right: 80px; }

#logo {
  display: block;
  margin: 0px auto;
  width: 400px;
  height: 170px;
  z-index: 55;
  background: url("../img/logo.svg") no-repeat 10px 20px;
  background-size: 100%;
  opacity: 0.5; }

#force, #force-demo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 50; }

#slides {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  z-index: 500; }
  #slides .video {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 1280px;
    height: 720px; }
  #slides .slide {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.8); }
  #slides .uno {
    padding-top: 320px; }

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  z-index: 500; }
  footer #emociones {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 40px; }
    footer #emociones li {
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 0;
      display: inline-block;
      width: 15%; }
  footer #control {
    position: absolute;
    display: block;
    width: auto;
    bottom: 20px;
    opacity: 0.5; }

#reposo {
  z-index: 999;
  background-color: rgba(70, 76, 85, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3000;
  color: #fff; }
  #reposo h1 {
    font-family: "Gotham Light", "Helvetica", _sans;
    text-align: center;
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
    text-transform: uppercase;
    padding-top: 40px; }
  #reposo h2 {
    text-align: center;
    font-size: 2em;
    line-height: 1em;
    text-transform: uppercase; }

#graficos {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-left: -55px;
  margin-top: 30px; }
  #graficos .barras {
    width: 420px;
    text-align: center;
    display: inline-block; }

svg {
  position: fixed; }

circle {
  shape-rendering: optimizeSpeed;
  color-rendering: optimizeSpeed; }

.sorpresa {
  fill: #fe1639; }

.felicidad {
  fill: #ff9900; }

.indiferencia {
  fill: #c6baba; }

.tristeza {
  fill: #7b6565; }

.entusiasmo {
  fill: #30fd80; }

.decepcion {
  fill: #6d6897; }

.grande {
  font-size: 120%; }

.normal {
  font-size: 100%; }

.sorpresa span {
  padding-bottom: 5px;
  border-bottom: 5px #f22241 solid; }

.felicidad span {
  padding-bottom: 5px;
  border-bottom: 5px #ff9900 solid; }

.indiferencia span {
  padding-bottom: 5px;
  border-bottom: 5px silver solid; }

.tristeza span {
  padding-bottom: 5px;
  border-bottom: 5px #707070 solid; }

.entusiasmo span {
  padding-bottom: 5px;
  border-bottom: 5px #3af282 solid; }

.decepcion span {
  padding-bottom: 5px;
  border-bottom: 5px #77758a solid; }
